<div>
  <header class="header_class">
    <div class="wrapper">
      <ul class="header_top">
        <!-- <li><strong>ARDB Name: </strong>{{ardbName}}</li> -->
        <li><strong>Organization: </strong>{{ardbName}}</li>
        <li><strong>Branch: </strong>{{sys?.BranchName}}</li>
        <li><strong>Financial Year: </strong>{{sys?.CurrentFinancialYr}}</li>
        <li><strong>User: </strong>{{sys?.UserId}}</li>
        &nbsp; <li class="date"><strong>Operation Date: </strong> {{sys?.CurrentDate | date:'dd-MM-yyyy'}}</li>
        <!-- &nbsp; <li class="date"><strong>Operation Date: </strong> {{sys?.CurrentDate}}</li> -->
        <li><strong>Current Date: </strong> {{currDt | date:'dd-MM-yyyy' }} {{currTm}}</li> 
      </ul>
    </div>
  </header>
  <div class="row" >
    <nav class="navbar navbar-expand-lg col-md-12 col-xl-12">
      
  <div class="myDivClass" [hidden]="hideMenuOnComplete">
    
    <button mat-button [matMenuTriggerFor]="ucic"><mat-icon>account_box</mat-icon>
      UCIC</button>  <label class = "vertical"></label>
    <button mat-button [matMenuTriggerFor]="finance"><mat-icon>monetization_on</mat-icon>
      Finance</button>  <label class = "vertical"></label>
    <button mat-button [matMenuTriggerFor]="deposit"><mat-icon>savings</mat-icon>
      Deposit</button>  <label class = "vertical"></label>
    <button mat-button [matMenuTriggerFor]="loans"><mat-icon>real_estate_agent</mat-icon>
      Loans</button>  <label class = "vertical"></label>
    <button mat-button [matMenuTriggerFor]="system"><mat-icon>settings</mat-icon>
      System</button>  <label class = "vertical"></label>
    <button mat-button [matMenuTriggerFor]="transfer">
      <mat-icon>transform</mat-icon> 
      Transfer</button> <label class = "vertical"></label>
      <button mat-button [matMenuTriggerFor]="investment">
        <mat-icon>switch_access_shortcut_add</mat-icon>
        Investment
      </button> <label class = "vertical"></label>
      <button mat-button [matMenuTriggerFor]="locker">
        <mat-icon>lock</mat-icon>
        Locker
      </button> 
      <mat-menu #locker="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="Lmst">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Master</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="LTrns">
          <mat-icon>currency_exchange</mat-icon>
          <span>Transaction</span>
        </button>
      </mat-menu>
      <mat-menu #Lmst="matMenu" ccCardHover>
        
        <button mat-menu-item routerLink="locker/loc_dtls" >
          <mat-icon>add_to_queue</mat-icon>
          <span>Locker Detail</span>
        </button>
        <button mat-menu-item routerLink="locker/loc_rent">
          <mat-icon>currency_rupee</mat-icon>
          <span> Locker Rent</span>
        </button>
        
      </mat-menu>
      <mat-menu #LTrns="matMenu" ccCardHover>
        
        <button mat-menu-item routerLink="locker/lock_open" >
          <mat-icon>lock_open</mat-icon>
          <span>Locker Opening</span>
        </button>
        <button mat-menu-item routerLink="locker/lock_trans">
          <mat-icon>lock_person</mat-icon>
          <span> Locker Transaction</span>
        </button>
        <button mat-menu-item routerLink="locker/lock_approve">
          <mat-icon>lock_clock</mat-icon>
          <span> Locker Approve</span>
        </button>
        <button mat-menu-item routerLink="locker/lock_view">
          <mat-icon>screen_search_desktop</mat-icon>
          <span>View Locker Details</span>
        </button>
      </mat-menu>
    <mat-menu #ucic="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="utransaction">
        <mat-icon>currency_exchange</mat-icon>
        <span>Transaction</span>
      </button>
    </mat-menu>
    <mat-menu #utransaction="matMenu" ccCardHover>
      <button mat-menu-item routerLink="UT_CustomerProfile" >
        <mat-icon>group</mat-icon>
        <span>Customer Profile Entry</span>
      </button>
      <button mat-menu-item routerLink="UT_SelfHelp" >
        <mat-icon>help</mat-icon>
        <span>Self Help Group</span>
      </button>
      <button mat-menu-item routerLink="UR_MemberList">
        <mat-icon>list_alt</mat-icon>
        <span> Member List</span>
      </button>
      <button mat-menu-item routerLink="UR_Networth">
        <mat-icon>summarize</mat-icon>
        <span> Net Worth Statement</span>
      </button>
    </mat-menu>
    <mat-menu #finance="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="ftransaction">
        <mat-icon>currency_exchange</mat-icon>
        <span>Transaction</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="report">
        <mat-icon>inventory</mat-icon>
        <span>Report</span>
      </button>
    </mat-menu>
    <mat-menu #ftransaction="matMenu" (mouseenter)="abc()" ccCardHover>
      <button mat-menu-item routerLink="FT_Voucher" id="FT_Voucher">
        <mat-icon>local_activity</mat-icon>
        <span>Voucher</span>
      </button>
      <button mat-menu-item routerLink="FT_ApproveTrns" id="FT_ApproveTrns">
        <mat-icon>verified</mat-icon>
        <span>Approve Voucher</span>
      </button>
      <button mat-menu-item routerLink="FT_BackdateVoucher" id="FT_BackdateVoucher">
        <mat-icon>history</mat-icon>
        <span>Backdate Voucher Entry</span>
      </button>
      <button mat-menu-item routerLink="FT_YearlyVoucher" id="FT_YearlyVoucher">
        <mat-icon>free_cancellation</mat-icon>
        <span>Yearly Adjustment Voucher Entry</span>
      </button>
      <button mat-menu-item routerLink="FT_CreateGlHead"   id="FT_CreateGlHead" (mouseenter)="hideButton($event)">
        <mat-icon>loupe</mat-icon>
        <span>Create Gl Head</span>
      </button>
    </mat-menu>
    <mat-menu #report="matMenu" ccCardHover>
      <button mat-menu-item routerLink="FT_PrintVoucher" id="FT_PrintVoucher">
        <mat-icon>print</mat-icon>
        <span>Print Voucher</span>
      </button>
      <button mat-menu-item routerLink="FR_CashAccount" id="FR_CashAccount">
        <mat-icon>account_balance</mat-icon>
        <span>Cash Account</span>
      </button>
      <button mat-menu-item routerLink="FR_DayBook" id="FR_DayBook">
        <mat-icon>auto_stories</mat-icon>
        <span>Day Book</span>
      </button>
      <button mat-menu-item routerLink="FR_CashCumTrial" id="FR_CashCumTrial">
        <mat-icon>currency_rupee</mat-icon>
        <span>Cash Cum Trial</span>
      </button>
      
      <button mat-menu-item routerLink="FR_TrialBalance" id="FR_TrialBalance">
        <mat-icon>device_hub</mat-icon>
        <span>Trial Balance</span>
      </button>
      <button mat-menu-item routerLink="FR_GeneralLadger" id="FR_GeneralLadger">
        <mat-icon>menu_book</mat-icon>
        <span>General Ledger</span>
      </button>
      <button mat-menu-item routerLink="FR_GLTD" id="FR_GLTD">
        <mat-icon>query_stats</mat-icon>
        <span>GL Transaction Details</span>
      </button>
      <button mat-menu-item routerLink="FR_ProfitLoss" id="FR_ProfitLoss">
        <mat-icon>data_thresholding</mat-icon>
        <span>Profit And Loss A/C</span>
      </button>
      <button mat-menu-item routerLink="FR_WeeklyReturn" id="FR_WeeklyReturn">
        <mat-icon>date_range</mat-icon>
        <span>Weekly Return</span>
      </button>
      <button  mat-menu-item routerLink="FR_BalanceSheet" id="FR_BalanceSheet">
        <mat-icon>legend_toggle</mat-icon>
        <span>Balance Sheet</span>
      </button>
      
      <button mat-menu-item routerLink="FR_CdCashAccount" (mouseenter)="hideButton($event)" id="FR_CdCashAccount">
        <mat-icon>add_to_photos</mat-icon>
        <span>Consolidated Cash Account</span>
      </button><button mat-menu-item routerLink="FR_CdCashAccNew" (mouseenter)="hideButton($event)" id="FR_CdCashAccNew">
        <mat-icon>gamepad</mat-icon>
        <span>Conso Cash Account New</span>
      </button>
      <button mat-menu-item routerLink="FR_CdDayBook" (mouseenter)="hideButton($event)" id="FR_CdDayBook">
        <mat-icon>library_books</mat-icon>
        <span>Consolidated Day Book</span>
      </button>
      <button hidden mat-menu-item routerLink="FR_CdCashCumTrial" (mouseenter)="hideButton($event)" id="FR_CdCashCumTrial">
        <mat-icon>add_chart</mat-icon>
        <span>Consolidated Cash Cum Trial Old</span>
      </button>
      <button mat-menu-item routerLink="FR_CdCCTrial" (mouseenter)="hideButton($event)" id="FR_CdCCTrial">
        <mat-icon>currency_rupee</mat-icon>
        <span>Consolidated Cash Cum Trial</span>
      </button>
      
      <button mat-menu-item routerLink="FR_CdTrialBalance" (mouseenter)="hideButton($event)" id="FR_CdTrialBalance">
        <mat-icon>margin</mat-icon>
        <span>Consolidated Trial Balance</span>
      </button>
      <button mat-menu-item routerLink="FR_CdGlTrns" (mouseenter)="hideButton($event)" id="FR_CdGlTrns">
        <mat-icon>swipe_vertical</mat-icon>
        <span>Consolidated GL Transaction</span>
      </button>
      <button mat-menu-item routerLink="FR_ConsoProfitLoss" id="FR_ConsoProfitLoss" (mouseenter)="hideButton($event)">
        <mat-icon>devices</mat-icon>
        <span> Consolidated Profit/Loss A/C</span>
      </button>
      <button  mat-menu-item routerLink="FR_CdBalanceSheet" (mouseenter)="hideButton($event)" id="FR_CdBalanceSheet">
        <mat-icon>format_list_numbered_rtl</mat-icon>
        <span>Consolidated Balance Sheet</span>
      </button>
      <button mat-menu-item routerLink="FR_allGLHead" (mouseenter)="hideButton($event)" id="FR_allGLHead">
        <mat-icon>list_alt</mat-icon>
        <span>Account Master Details</span>
      </button>
      
    </mat-menu>
    <mat-menu #deposit="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="dftransaction">
        <mat-icon>currency_exchange</mat-icon>
        <span>Transaction</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="dreport">
        <mat-icon>inventory</mat-icon>
        <span>Report</span>
      </button>
    </mat-menu>
    <mat-menu #dftransaction="matMenu" ccCardHover>
      <button mat-menu-item routerLink="DT_OpenAcc" (mouseenter)="hideButton($event)" id="DT_OpenAcc">
        <mat-icon>account_balance</mat-icon>
        <span>Account Opening</span>
      </button>
      <button mat-menu-item routerLink="DT_AccTrans" (mouseenter)="hideButton($event)" id="DT_AccTrans">
        <mat-icon>paid</mat-icon>
        <span>Account Transactions</span>
      </button>
      <button mat-menu-item routerLink="DT_ApproveTran" (mouseenter)="hideButton($event)" id="DT_ApproveTran">
        <mat-icon>task_alt</mat-icon>
        <span>Approve Transactions</span>
      </button>
      <button mat-menu-item routerLink="DT_AccLockUnlock" (mouseenter)="hideButton($event)" id="DT_AccLockUnlock">
        <mat-icon>vpn_key_off</mat-icon>
        <span>Lien A/C Lock/Unlock</span>
      </button>
      <button mat-menu-item routerLink="DT_OpenAccView" (mouseenter)="hideButton($event)" id="DT_OpenAccView">
        <mat-icon>badge</mat-icon>
        <span>View Account Details</span>
      </button>
      <button mat-menu-item routerLink="DT_CloseAccDtls" (mouseenter)="hideButton($event)" id="DT_CloseAccDtls">
        <mat-icon>close</mat-icon>
        <span>Close Account Details</span>
      </button>
      <button mat-menu-item routerLink="DT_NEFTPayment" (mouseenter)="hideButton($event)" id="DT_NEFTPayment">
        <mat-icon>currency_rupee</mat-icon>
        <span>NEFT/RTGS/IMPS Payment</span>
      </button>
      <button mat-menu-item routerLink="DT_SavingInttPost" (mouseenter)="hideButton($event)" id="DT_SavingInttPost">
        <mat-icon>volunteer_activism</mat-icon>
        <span>Savings Interest Posting</span>
      </button>
      <button mat-menu-item routerLink="DT_SMSchargeDed"  (mouseenter)="hideButton($event)" id="DT_SMSchargeDed">
        <mat-icon>mark_email_read</mat-icon>
        <span>SMS Charge Deduction</span>
      </button>
      <button mat-menu-item routerLink="DT_AgentComPost"  (mouseenter)="hideButton($event)" id="DT_AgentComPost">
        <mat-icon>done_outline</mat-icon>
        <span>Agent Commission Posting</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="dds_imp_exp">
        <mat-icon>upgrade</mat-icon>
        <span>DDS Import/Export</span>
      </button>
    </mat-menu>
    <mat-menu #dds_imp_exp="matMenu" ccCardHover>
      <button mat-menu-item routerLink="DT_DDEXPORT" (mouseenter)="hideButton($event)" id="DT_DDEXPORT">
        <mat-icon>publish</mat-icon>
        <span>DDS Export</span>
      </button>
      <button mat-menu-item routerLink="DT_DDIMPORT" (mouseenter)="hideButton($event)" id="DT_DDIMPORT">
        <mat-icon>file_download</mat-icon>
        <span>DDS Import</span>
      </button>
      <button mat-menu-item routerLink="DT_DDINDPOST" (mouseenter)="hideButton($event)" id="DT_DDINDPOST">
        <mat-icon>man_3</mat-icon>
        <span>DDS Individual Posting</span>
      </button>
    </mat-menu>
    <mat-menu #dreport="matMenu" ccCardHover>
      
      <button mat-menu-item routerLink="DR_SubCashBook" (mouseenter)="hideButton($event)" id="DR_SubCashBook">
        <mat-icon>request_quote</mat-icon>
        <span>Sub Cash Book</span>
      </button>
      <button mat-menu-item routerLink="DR_UserWiseTrans" (mouseenter)="hideButton($event)" id="DR_UserWiseTrans">
        <mat-icon>folder_shared</mat-icon>
        <span>Transaction Details</span>
      </button>
      <button mat-menu-item routerLink="DR_InttCertificate" (mouseenter)="hideButton($event)" id="DR_InttCertificate">
        <mat-icon>privacy_tip</mat-icon>
        <span>Interest Certificate</span>
      </button>
      <button mat-menu-item routerLink="DR_PbkPrn" (mouseenter)="hideButton($event)" id="DR_PbkPrn">
        <mat-icon>print</mat-icon>
        <span>Pass book Printing</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="detail_list">
        <mat-icon>list_alt</mat-icon>
        <span>Detail List</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="acc_stat">
        <mat-icon>real_estate_agent</mat-icon>
        <span>Account Statement </span>
      </button>
      <button mat-menu-item routerLink="DR_NearMatReport" (mouseenter)="hideButton($event)" id="DR_NearMatReport">
        <mat-icon>flag_circle</mat-icon>
        <span>Near Maturity Report</span>
      </button>
      <button mat-menu-item routerLink="DR_OpenCloseReg" (mouseenter)="hideButton($event)" id="DR_OpenCloseReg">
        <mat-icon>disabled_by_default</mat-icon>
        <span>Open/Closing Register</span>
      </button>
      <button mat-menu-item routerLink="DR_NeftIn" (mouseenter)="hideButton($event)" id="DR_NeftIn">
        <mat-icon>redo</mat-icon>
        <span>NEFT Inward Report</span>
      </button>
      <button mat-menu-item routerLink="DR_NeftOut" (mouseenter)="hideButton($event)" id="DR_NeftOut">
        <mat-icon>undo</mat-icon>
        <span>NEFT Outward Report</span>
      </button>
      
      <button mat-menu-item [matMenuTriggerFor]="Standing_Instruction">
        <mat-icon>query_stats</mat-icon>
        <span>Standing Instruction</span>
      </button>
      <button mat-menu-item routerLink="DR_SlbWisDeposit" (mouseenter)="hideButton($event)" id="DR_SlbWisDeposit">
        <mat-icon>layers</mat-icon>
        <span>Slabwise Deposit</span>
      </button>
      <button mat-menu-item routerLink="DR_PCertificate" (mouseenter)="hideButton($event)" id="DR_PCertificate">
        <mat-icon>workspace_premium</mat-icon>
        <span>Certificate Printing</span>
      </button>
      
      <button mat-menu-item routerLink="DR_UpbkPrnSts" (mouseenter)="hideButton($event)" id="DR_UpbkPrnSts">
        <mat-icon>published_with_changes</mat-icon>
        <span>Update Passbook Print Status</span>
      </button>
    </mat-menu>
    <mat-menu #Standing_Instruction="matMenu" ccCardHover>
      <button mat-menu-item routerLink="DR_Act_SI_List" (mouseenter)="hideButton($event)" id="DR_Act_SI_List">
        <mat-icon>fact_check</mat-icon>
        <span>Active SI List</span>
      </button><button mat-menu-item routerLink="DR_Today_SI_Exec" (mouseenter)="hideButton($event)" id="DR_Today_SI_Exec">
        <mat-icon>today</mat-icon>
        <span>Today's SI Executed</span>
      </button>
    </mat-menu>
    <mat-menu #detail_list="matMenu" ccCardHover>
      <button mat-menu-item routerLink="DR_DLS" (mouseenter)="hideButton($event)" id="DR_DLS">
        <mat-icon>savings</mat-icon>
        <span>Detail List SB/CA</span>
      </button>
      <button mat-menu-item routerLink="DR_DLR" (mouseenter)="hideButton($event)" id="DR_DLR">
        <mat-icon>change_circle</mat-icon>
        <span>Detail List RD</span>
      </button>
      <button mat-menu-item routerLink="DR_DLF" (mouseenter)="hideButton($event)" id="DR_DLF">
        <mat-icon>volunteer_activism</mat-icon>
        <span>Detail List FD/MIS</span>
      </button>
      <button mat-menu-item routerLink="DR_DDS" (mouseenter)="hideButton($event)" id="DR_DDS"> 
        <mat-icon>data_exploration</mat-icon>
        <span>Detail List DDS</span>
      </button>
      <button mat-menu-item routerLink="DR_DLF_CONST" (mouseenter)="hideButton($event)" id="DR_DLF_CONST"> 
        <mat-icon>model_training</mat-icon>
        <span>Detail List Constitution-Wise</span>
      </button>
    </mat-menu>
    <mat-menu #acc_stat="matMenu" ccCardHover>
      <button mat-menu-item routerLink="DR_ASS"(mouseenter)="hideButton($event)" id="DR_ASS">
        <mat-icon>savings</mat-icon>
        <span>Account Statement SB/CA</span>
      </button>
      <button mat-menu-item routerLink="DR_ASR" (mouseenter)="hideButton($event)" id="DR_ASR">
        <mat-icon>change_circle</mat-icon>
        <span>Account Statement RD</span>
      </button>
      <button mat-menu-item routerLink="DR_ACCSTMTDDS" (mouseenter)="hideButton($event)" id="DR_ACCSTMTDDS">
        <mat-icon>data_exploration</mat-icon>
        <span>Account Statement DDS</span>
      </button>
      <button mat-menu-item routerLink="DR_ASF" (mouseenter)="hideButton($event)" id="DR_ASF">
        <mat-icon>ios_share</mat-icon>
        <span>Account Statement TD</span>
      </button>
    </mat-menu>
   <mat-menu #loans="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="lftransaction">
      <mat-icon>currency_exchange</mat-icon>
      <span>Transaction</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="lreport">
      <mat-icon>inventory</mat-icon>
      <span>Report</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="lmaster">
      <mat-icon>engineering</mat-icon>
      <span>Master</span>
    </button>
    </mat-menu>
    <mat-menu #lftransaction="matMenu" ccCardHover>
    <button mat-menu-item routerLink="LT_OpenLoanAcc" (mouseenter)="hideButton($event)" id="LT_OpenLoanAcc">
      <mat-icon>real_estate_agent</mat-icon>
      <span>Open Loan Account</span>
    </button>
    <button mat-menu-item routerLink="LT_LoanTrans" (mouseenter)="hideButton($event)" id="LT_LoanTrans">
      <mat-icon>model_training</mat-icon>
      <span>Loan Transaction</span>
    </button>
    <button mat-menu-item routerLink="LT_LoanAprv" (mouseenter)="hideButton($event)" id="LT_LoanAprv">
      <mat-icon>library_add_check</mat-icon>
      <span>Approve Transaction</span>
    </button>
    <button mat-menu-item routerLink="LT_CalcIntt" (mouseenter)="hideButton($event)" id="LT_CalcIntt">
      <mat-icon>interests</mat-icon>
      <span>Calculate Loan Interest</span>
    </button>
    <button mat-menu-item routerLink="LT_Subsidy" (mouseenter)="hideButton($event)" id="LT_Subsidy">
      <mat-icon>rate_review</mat-icon>
      <span>Subsidy Entry</span>
    </button>
    <button mat-menu-item routerLink="LT_OTS" (mouseenter)="hideButton($event)" id="LT_OTS">
      <mat-icon>home_work</mat-icon>
      <span>One Time Settlement</span>
    </button>
  </mat-menu>
  <mat-menu #lreport="matMenu" ccCardHover>
    <button mat-menu-item routerLink="DR_LoanPbkPrn" (mouseenter)="hideButton($event)" id="DR_LoanPbkPrn">
      <mat-icon>print</mat-icon>
      <span>Pass book Printing</span>
    </button>
    <button mat-menu-item routerLink="LR_UserWiseTrans" (mouseenter)="hideButton($event)" id="LR_UserWiseTrans">
      <mat-icon>tv_signin</mat-icon>
      <span>Transaction Details</span>
    </button>
    <button mat-menu-item routerLink="LR_LoanStmt" (mouseenter)="hideButton($event)" id="LR_LoanStmt">
      <mat-icon>receipt_long</mat-icon>
      <span>Loan Ledger</span>
    </button>
    <button mat-menu-item routerLink="{{dynamicLink}}" (mouseenter)="hideButton($event)" id={{dynamicLink}}>
      <mat-icon>topic</mat-icon>
      <span>Loan Statement</span>
    </button>
    <button  mat-menu-item [matMenuTriggerFor]="dList">
      <mat-icon>subject</mat-icon>
      <span>Detail List</span>
    </button>
    <button mat-menu-item routerLink="LR_DflLst" (mouseenter)="hideButton($event)" id="LR_DflLst">
      <mat-icon>assignment</mat-icon>
      <span>Overdue List</span>
    </button>
    <button mat-menu-item routerLink="LR_DemandNotice" (mouseenter)="hideButton($event)" id="LR_DemandNotice">
      <mat-icon>receipt_long</mat-icon>
      <span>Demand Notice</span>
    </button>
     <button mat-menu-item routerLink="LR_OverdueNotice" (mouseenter)="hideButton($event)" id="LR_OverdueNotice">
      <mat-icon>event_busy</mat-icon>
      <span>Overdue Notice</span>
    </button>
    <button mat-menu-item routerLink="LR_OverdueTransfer" (mouseenter)="hideButton($event)" id="LR_OverdueTransfer">
      <mat-icon>view_list</mat-icon>
      <span>Overdue Transfer List</span>
    </button>
    <button mat-menu-item  [matMenuTriggerFor]="demand_list" >
      <mat-icon>playlist_add_check_circle</mat-icon>
      <span>Demand List</span>
    </button>
    
    <button mat-menu-item [matMenuTriggerFor]="demand_coll_list" >
      <mat-icon>playlist_add_check</mat-icon>
      <span>Demand Collection List</span>
    </button>
    <button hidden mat-menu-item routerLink="LR_AdvRec" (mouseenter)="hideButton($event)" id="LR_AdvRec">
      <mat-icon>rotate_90_degrees_ccw</mat-icon>
      <span>Advance Recovery Statement</span>
    </button>
    <button hidden mat-menu-item routerLink="LR_intRec" (mouseenter)="hideButton($event)" id="LR_intRec">
      <mat-icon>switch_access_shortcut_add</mat-icon>
      <span>Interest Recovery Statement</span>
    </button>
    <button  mat-menu-item routerLink="{{dynamicLink2}}" (mouseenter)="hideButton($event)" id="{{dynamicLink2}}">
      <mat-icon>verified_user</mat-icon>
      <span>Disbursement Certificate</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="loan_dis_reg">
      <mat-icon>add_home_work</mat-icon>
      <span>Disbursement Register</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="rec_reg">
      <mat-icon>data_saver_on</mat-icon>
      <span>Recovery Register</span>
    </button>
    <button mat-menu-item routerLink="LR_openClose" (mouseenter)="hideButton($event)" id="LR_openClose">
      <mat-icon>rule_folder</mat-icon>
      <span>Open/Close Register</span>
    </button>
    <button mat-menu-item routerLink="{{dynamicLink3}}" (mouseenter)="hideButton($event)" id="{{dynamicLink3}}">
      <mat-icon>gesture_select</mat-icon>
      <span>Interest Subsidy</span>
    </button>
    <button mat-menu-item routerLink="LR_SubCashBk" (mouseenter)="hideButton($event)" id="LR_SubCashBk">
      <mat-icon>auto_stories</mat-icon>
      <span>Sub Cash Book</span>
    </button>
    <button mat-menu-item routerLink="LR_NPA" (mouseenter)="hideButton($event)" id="LR_NPA">
      <mat-icon>local_library</mat-icon>
      <span>NPA List</span>
    </button>
    <button mat-menu-item routerLink="LR_NPA_ALL" (mouseenter)="hideButton($event)" id="LR_NPA_ALL">
      <mat-icon>local_library</mat-icon>
      <span>NPA List ALL</span>
    </button>
    <button mat-menu-item routerLink="DR_LoanUpbkPrnSts"(mouseenter)="hideButton($event)" id="DR_LoanUpbkPrnSts">
      <mat-icon>published_with_changes</mat-icon>
      <span>Update Passbook Print Status</span>
    </button>
  </mat-menu>
  <mat-menu #dList="matMenu" ccCardHover>
    <button mat-menu-item routerLink="LR_DtlLst" (mouseenter)="hideButton($event)" id="LR_DtlLst">
      <mat-icon>list</mat-icon>
      <span>Account Wise Detail List</span>
    </button>
    <button mat-menu-item routerLink="LR_DlistAll" (mouseenter)="hideButton($event)" id="LR_DlistAll">
      <mat-icon>groups</mat-icon>
      <span>Detail List All</span>
    </button>
    
  </mat-menu>
  <mat-menu #lmaster="matMenu" ccCardHover>
    <button mat-menu-item routerLink="LM_Kccmember" (mouseenter)="hideButton($event)" id="LM_Kccmember">
      <mat-icon>how_to_reg</mat-icon>
      <span>KCC Member Entry</span>
    </button>
    <button mat-menu-item routerLink="LM_Blkentry" (mouseenter)="hideButton($event)" id="LM_Blkentry">
      <mat-icon>add_location_alt</mat-icon>
      <span>Block Entry</span>
    </button>
    
    
    <button mat-menu-item routerLink="LM_PsEntry"  id="LM_PsEntry">
      <mat-icon>local_police</mat-icon>
      <span>Police Station Entry</span>
    </button>
    <button mat-menu-item routerLink="Service_Area" (mouseenter)="hideButton($event)" id="Service_Area">
      <mat-icon>add_home_work</mat-icon>
      <span>Service Area Entry</span>
    </button>
    <button mat-menu-item routerLink="LM_PoEntry"  id="LM_PoEntry">
      <mat-icon>local_post_office</mat-icon>
      <span>Post Office Entry</span>
    </button>
    <button mat-menu-item routerLink="LM_Villentry" (mouseenter)="hideButton($event)" id="LM_Villentry">
      <mat-icon>holiday_village</mat-icon>
      <span>Village Entry</span>
    </button>
  </mat-menu>
  <mat-menu #demand_list="matMenu" ccCardHover>
    <button mat-menu-item routerLink="LR_DMLst" (mouseenter)="hideButton($event)" id="LR_DMLst">
      <mat-icon>groups</mat-icon>
      <span>Member-wise</span>
    </button>
    <button  mat-menu-item routerLink="LR_BMLst" (mouseenter)="hideButton($event)" id="LR_BMLst">
      <mat-icon>real_estate_agent</mat-icon>
      <span>Block-wise</span>
    </button>
    <button  mat-menu-item routerLink="LR_AMLst" (mouseenter)="hideButton($event)" id="LR_AMLst">
      <mat-icon>local_activity</mat-icon>
      <span>Activity-wise</span>
    </button>
  </mat-menu>
  <mat-menu #demand_coll_list="matMenu" ccCardHover>
    <button mat-menu-item routerLink="LR_RELst" (mouseenter)="hideButton($event)" id="LR_RELst">
      <mat-icon>groups</mat-icon>
      <span>Member-wise</span>
    </button>
    <button hidden mat-menu-item routerLink="LR_BWISECol"(mouseenter)="hideButton($event)" id="LR_BWISECol">
      <mat-icon>real_estate_agent</mat-icon>
      <span>Block-wise</span>
    </button>
    <button hidden mat-menu-item routerLink="LR_AWISECol" (mouseenter)="hideButton($event)" id="LR_AWISECol">
      <mat-icon>local_activity</mat-icon>
      <span>Activity-wise</span>
    </button>
  </mat-menu>
  <mat-menu #rec_reg="matMenu" ccCardHover>
    <button hidden mat-menu-item routerLink="LR_RecReg" (mouseenter)="hideButton($event)" id="LR_RecReg">
      <mat-icon>recent_actors</mat-icon>
      <span>Acc-wise</span>
    </button>
    <button mat-menu-item routerLink="LR_RecRegNorm" (mouseenter)="hideButton($event)" id="LR_RecRegNorm">
      <mat-icon>groups</mat-icon>
      <span>Member-wise</span>
    </button>
    <button mat-menu-item routerLink="LR_RecRegVill" (mouseenter)="hideButton($event)" id="LR_RecRegVill">
      <mat-icon>holiday_village</mat-icon>
      <span>Village-wise</span>
    </button>
    <button mat-menu-item routerLink="LR_RecRegFund" (mouseenter)="hideButton($event)" id="LR_RecRegFund">
      <mat-icon>swipe_right</mat-icon>
      <span>Fund-wise</span>
    </button>
    <button mat-menu-item routerLink="LR_RecRegBlock" (mouseenter)="hideButton($event)" id="LR_RecRegBlock">
      <mat-icon>recent_actors</mat-icon>
      <span>Block-wise</span>
    </button>
    <button mat-menu-item routerLink="LR_RecInterest" (mouseenter)="hideButton($event)" id="LR_RecInterest">
      <mat-icon>real_estate_agent</mat-icon>
      <span>Interest Recovery</span>
    </button>
  </mat-menu>
  <mat-menu #loan_dis_reg="matMenu" ccCardHover>
    <button hidden mat-menu-item routerLink="LR_DisReg" (mouseenter)="hideButton($event)" id="LR_DisReg">
      <mat-icon>recent_actors</mat-icon>
      <span>Acc-wise</span>
    </button>
    <button mat-menu-item routerLink="LR_DisNorm" (mouseenter)="hideButton($event)" id="LR_DisNorm">
      <mat-icon>groups</mat-icon>
      <span>Member-wise</span>
    </button>
  </mat-menu>
    
  <mat-menu #system="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="u_maintenance">
      <mat-icon>manage_accounts</mat-icon>
      <span>User Maintenance</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="d_activity">
      <mat-icon>date_range</mat-icon>
      <span>Daily Activity</span>
    </button>
  </mat-menu>
  <mat-menu #u_maintenance="matMenu" ccCardHover>
    <button mat-menu-item routerLink="UM_AddUsr" (mouseenter)="hideButton($event)" id="UM_AddUsr">
      <mat-icon>person_add</mat-icon>
      <span>Add User</span>
    </button>
    <button mat-menu-item routerLink="UM_UpLogStatus"  (mouseenter)="hideButton($event)" id="UM_UpLogStatus">
      <mat-icon>browser_updated</mat-icon>
      <span>Update Login-Status</span>
    </button>
    
    <button mat-menu-item routerLink="UM_UPermission" (mouseenter)="hideButton($event)" id="UM_UPermission">
      <mat-icon>how_to_reg</mat-icon>
      <span>User Permission</span>
    </button>
    <button mat-menu-item routerLink="UM_UTransfer"  (mouseenter)="hideButton($event)" id="UM_UTransfer">
      <mat-icon>move_up</mat-icon>
      <span>User Transfer to Another Branch</span>
    </button>
  </mat-menu> 
  <mat-menu #d_activity="matMenu" ccCardHover>

    <button mat-menu-item routerLink="DA_DayInit"  (mouseenter)="hideButton($event)" id="DA_DayInit">
      <mat-icon>event_available</mat-icon>
      <span>Day Initialization</span>
    </button>
    <button mat-menu-item routerLink="DA_DayCmpl"  (mouseenter)="hideButton($event)" id="DA_DayCmpl">
      <mat-icon>event_busy</mat-icon>
      <span>Day Completion</span>
    </button>
    <button mat-menu-item routerLink="DA_YearOpn" (mouseenter)="hideButton($event)" id="DA_YearOpn">
      <mat-icon>open_in_browser</mat-icon>
      <span>Year Open</span>
    </button>
    <button mat-menu-item routerLink="DA_YearCls" (mouseenter)="hideButton($event)" id="DA_YearCls">
      <mat-icon>disabled_by_default</mat-icon>
      <span> Year Close</span>
    </button>
  </mat-menu>
  <mat-menu #parameter="matMenu" ccCardHover>
    <button mat-menu-item routerLink="SP_Update" (mouseenter)="hideButton($event)" id="SP_Update">
      <mat-icon>cloud_sync</mat-icon>
      <span>System Parameter Update</span>
    </button>
  </mat-menu>
    <mat-menu #transfer="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="ttransaction">
        <mat-icon>currency_exchange</mat-icon>
        <span>Transaction</span>
      </button>
    </mat-menu>
    <mat-menu #ttransaction="matMenu" ccCardHover>
      <button mat-menu-item routerLink="TT_TransEntry" (mouseenter)="hideButton($event)" id="TT_TransEntry">
        <mat-icon>queue_play_next</mat-icon>
        <span>Transfer Entry</span>
      </button>
      <button mat-menu-item routerLink="TT_TransApprove" (mouseenter)="hideButton($event)" id="TT_TransApprove">
        <mat-icon>verified</mat-icon>
        <span>Approve Transfer</span>
      </button>
    </mat-menu>
    <mat-menu #investment="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="investMaster">
        <mat-icon>engineering</mat-icon>
        <span>Master</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="iTrans">
        <mat-icon>currency_exchange</mat-icon>
        <span>Transaction</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="iReport">
        <mat-icon>receipt_long</mat-icon>
        <span>Report</span>
      </button>
      <mat-menu #investMaster="matMenu" ccCardHover>
        <button mat-menu-item routerLink="I_BankEntry" (mouseenter)="hideButton($event)" id="I_BankEntry">
          <mat-icon>account_balance</mat-icon>
          <span>Bank Entry</span>
        </button>
        <button mat-menu-item routerLink="I_BranchEntry" (mouseenter)="hideButton($event)" id="I_BranchEntry">
          <mat-icon>add_business</mat-icon>
          <span>Branch Entry</span>
        </button>
      </mat-menu>
      <mat-menu #iTrans="matMenu" ccCardHover>
        <button mat-menu-item routerLink="I_Open" (mouseenter)="hideButton($event)" id="I_Open">
         <mat-icon>lock_open</mat-icon>
          <span>Investment Opening</span>
        </button>
        <button mat-menu-item routerLink="I_Trns" (mouseenter)="hideButton($event)" id="I_Trns">
          <mat-icon>currency_exchange</mat-icon>
          <span>Investment Transaction</span>
        </button>
        <button mat-menu-item routerLink="I_TrnsApprov" (mouseenter)="hideButton($event)" id="I_TrnsApprov">
          <mat-icon>verified</mat-icon>
          <span>Investment Approval</span>
        </button>
        <button mat-menu-item routerLink="I_ViewDtls" (mouseenter)="hideButton($event)" id="I_ViewDtls">
          <mat-icon>view_in_ar</mat-icon>
           <span>View Investment Details</span>
         </button>
        
      </mat-menu>
      <mat-menu #iReport="matMenu" ccCardHover>
        <button mat-menu-item routerLink="IR_Detail_list" (mouseenter)="hideButton($event)" id="IR_Detail_list">
          <mat-icon>content_paste_search</mat-icon>
          <span>Detail List</span>
        </button>
        <button mat-menu-item routerLink="IR_Near_maturity" (mouseenter)="hideButton($event)" id="IR_Near_maturity">
          <mat-icon>pending_actions</mat-icon>
          <span>Near Maturity</span>
        </button>
      </mat-menu>
    
    </mat-menu>
   
  </div> 
  
    <ul class="navbar-nav mr-auto"  *ngIf="hideMenuOnComplete && userType=='A' && brnCD=='101' ">
      <li>
        <label>&nbsp;&nbsp; Day has been closed, please initialize the day to start operation -> &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <a routerLink="DA_DayInit"> <b>  Day Initialization </b></a>
         <a routerLink="DA_YearOpn"   *ngIf="showOpenYear && userType=='A'"> <b>|  Year Open </b></a>
      </li>
    </ul>
    <span class="example-spacer"></span>
    
        <a class="nav-link" (click)="goToHome()">  <mat-icon class="hm">home</mat-icon>Home </a>
    
        <a class="nav-link"  (click)="openModal(template)">  <mat-icon class="lo">logout</mat-icon>Logout </a>
      
   </nav>
</div>

</div>
<ng-template #template >
  <div class="modal-body text-center" >
    <p>Hello {{currUser}}, Do you want to logout?</p>
    <button mat-raised-button type="button" class="btn btn-light" (click)="decline()" >No</button>&nbsp;
    <button mat-raised-button type="button" class=" btn btn-primary" (click)="confirm()" >Yes</button>
    
  </div>
</ng-template>

<loading *ngIf="isLoading"></loading>
